body { 
    font-family: 'Open Sans', sans-serif; 
}

a {
     text-decoration: none; 
    }

html {
     box-sizing: border-box; 
    }

*, *::before, *::after {
     box-sizing: inherit; 
    }

img {
     max-width: 100%; 
    }

/* text font-family: 'Crimson Text', serif; */
/* font-family: 'Montserrat', sans-serif; */

ul {
    list-style-type: none;
}
.hidden {
    display: none;
}

/* Header  */
.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;

    padding-top: 50px;
}

.header-nav-text {
    display: flex;
    margin-left: 20px;
}

.header-search {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-bottom: 0;
}


.header-nav-link {
    margin-left: 20px;

    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #1E0606;
}

.header-list-contact {
    text-transform: uppercase;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    

    color: #1E0606; 
}


.button {
    padding: 9px 22px;

    max-width: 161px;

    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    color: #FFFFFF;

    background-color: #000000;
    border-color: transparent;
    display: block;
}


